* {
  box-sizing: border-box;
}

.picture {
  width: 200px;
  border: 10px solid red;
  padding: 30px;
  background-color: darkseagreen;
  margin: 40px;
}

h1 {
  font-size: 3rem;
  /* text-align: center; */
  margin: auto;
  width: min-content;
}

h2 {
  color: red;
}

div {
  border: 1px solid black;
  margin: 25px;
  padding: 25px;
  /* display: inline-block; */
  /* float: right; */
  /* width: 100%; */
}

div:nth-child(3) {
  background-color: green;
}
div:nth-of-type(3) {
  background-color: purple;
}

span {
  color: red;
  font-size: 2rem;
  /* display: inline; */
  background-color: gainsboro;
}

section {
  clear: both;
}

.parent {
  width: 80%;
  background-color: pink;
  margin: auto;
}

#footerText {
  background-color: yellow;
}

/* 
  class names kabab case
  footer-text

  camel case
  footerText
*/
